<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nutriVERSE</title>
    <link rel="icon" href="static/nutriappi.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  
  <body style="background-color: #fff5e1">
    <nav class="navbar navbar-expand-lg" style="background-color: bisque">
      <div class="container-fluid">
        <a class="navbar-brand" href="/base">inicio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/registrate">registrate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info">informacion nutricional</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recetas">recetas</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/calculadora">analizador de recetas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/utiles">herramientas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recomendaciones">Recomendaciones</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/perfil">Perfil</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              id="busca"
            />

            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    {% block content %}
    <div class="container">
      <div class="text-center text-danger mt-4 mb-4 fs-3 fw-bold">!BIENVENIDO A LA MEJOR nutriVerse "usuario"!</div>
        <div class="d-flex justify-content-center align-items-center">
          <img
            src="static/receta1.jpg"
            class="d-block mx-auto img-fluid w-75"
            alt="Imagen 3"
          />
        </div>
      </div>
      </div>
      <p class="text-center mt-4 mb-4 fs-5">
        Esta es una aplicación diseñada para ayudarte a llevar un estilo de vida saludable a través de la nutrición. Aquí encontrarás información valiosa sobre alimentos, recetas saludables, herramientas para calcular tus necesidades nutricionales y recomendaciones personalizadas.
    </div>

    <div class="container mt-5 mb-5">
      <div class="text-center text-danger mt-4 mb-4 fs-4 fw-bold">
        ¡Explora nuestras secciones y comienza tu viaje hacia una vida más saludable hoy mismo!
      </div>
    </div>
    <div class="card text-bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">IMC</h5>
        <p class="card-text text-center">
          Calculadora de Índice de Masa Corporal (IMC)
        </p>
        <div class="text-center">
          <img src="static/imc.png" style="width: 200px; height: 200px;" />
          <br /><br />
          <a href="/imc" class="btn" style="background-color: #000000ff"><h6 style="color:white">Ir a la calculadora de IMC</h6></a>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </body>
</html>
