<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nutriAPPI</title>
    <link rel="icon" href="static/nutriappi.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  
  <body style="background-color: #fff5e1">
    <nav class="navbar navbar-expand-lg" style="background-color: bisque">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">nutriAPPI</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/info">informacion nutricional</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recetas">recetas</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/calculadora">Calculadora</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recomendaciones">Recomendaciones</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    {% block content %}
    <div class="container">
    <div class="text-center text-danger mt-4 mb-4 fs-3 fw-bold">nutriAPPI</div>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item  justify-content-center align-items-center active">
      <div class="card" style="width: 18rem">
          <img src="static/informacion.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">informacion nutricional</h5>
            <p class="card-text">
              en este apartado de informacion nutriciona podras encontrar toda la
              informacion de los alimentos que consumas.Tambien de los que no consumes por miedo 
              a engordar o por que no te gustan.Contando con que la informacion es totalmente veridica y confiable.
            </p>
            <a href="/info" class="btn btn-primary">vamos</a>
          </div>
        </div>
    </div>
    <div class="carousel-item justify-content-center align-items-center">
      <div class="card" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">recetas</h5>
            <p class="card-text">
              en este aparatado podras encontrar recetas de todo tipo tanto como saludables como una mezcla de 
              deliciosas y saludables mezclando endulsantes no dañinos como las azucares saturadas 
            </p>
            <a href="/recetas" class="btn btn-success">vamos</a>
            </div>
        </div>
    </div>
    <div class="carousel-item  justify-content-center align-items-center">
      <div class="card" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card’s content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class=" justify-content-center carousel-item align-items-center">
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </body>

</html>
