{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem; background-color: #D6F5EE;">
      <div class="card-body">

        <h5 class="card-title text-center">Perfil del Usuario</h5>
        <p class="card-text">Nombre:</p>
        <input type="text" class="form-control mb-3" value="{{ user.nombre }}" readonly>

        <p class="card-text">Apellidos:</p>
        <input type="text" class="form-control mb-3" value="{{ user.apellidos }}" readonly>

        <p class="card-text">Edad:</p>
        <input type="number" class="form-control mb-3" value="{{ user.edad }}" readonly>

        <p class="card-text">Sexo:</p>
        <input type="text" class="form-control mb-3" value="{{ user.sexo }}" readonly>

        <p class="card-text">Peso (kg):</p>
        <input type="number" class="form-control mb-3" value="{{ user.peso }}" readonly>

        <p class="card-text">Altura (cm):</p>
        <input type="number" class="form-control mb-3" value="{{ user.altura }}" readonly>

        <p class="card-text">Nivel de Actividad:</p>
        <input type="text" class="form-control mb-3" value="{{ user.nivel_actividad }}" readonly>

        <p class="card-text">Correo:</p>
        <input type="email" class="form-control mb-3" value="{{ user.correo }}" readonly>

        <p class="card-text">Objetivo:</p>
        <input type="text" class="form-control mb-3" value="{{ user.objetivo }}" readonly>

        <p class="card-text">Nivel de Cocina:</p>
        <input type="text" class="form-control mb-3" value="{{ user.nivel_cocina }}" readonly>

        <p class="card-text">Preferencias Alimenticias:</p>
        <input type="text" class="form-control mb-3" value="{{ user.preferencias }}" readonly>

        <p class="card-text">Alergias:</p>
        <input type="text" class="form-control mb-3" value="{{ user.alergias }}" readonly>

      </div>
    </div>
  </div>
</div>

{% endblock %}
