<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nutriAPPI</title>
    <link rel="icon" href="static/nutriappi.png" type="image/x-icon" />
</head>
<body>
    {% extends 'base.html' %}
    {% block content%}

<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem; background-color: #fff5e1;">
      <div class="card-body">
        <h5 class="card-title text-center">Recomendaciones Nutricionales</h5>
        <p class="card-text">
          Aquí encontrarás recomendaciones personalizadas para mejorar tu salud y bienestar a través de la nutrición.
        </p>
        <ul>
          <li>Mantén una dieta equilibrada rica en frutas, verduras, proteínas magras y granos enteros.</li>
          <li>Hidrátate adecuadamente bebiendo al menos 8 vasos de agua al día.</li>
          <li>Limita el consumo de alimentos procesados y azúcares añadidos.</li>
          <li>Incorpora actividad física regular en tu rutina diaria.</li>
          <li>Consulta con un profesional de la salud antes de hacer cambios significativos en tu dieta.</li>
        </ul>
      </div>
    {%endblock%}
</body>
</html>