<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nutriAPPI</title>
    <link rel="icon" href="static/nutriappi.png" type="image/x-icon" />
</head>
<body>
    {% extends 'base.html' %}
        {% block content%}  
    
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem; background-color: bisque">
      <div class="card-body">
        <div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 30rem; background-color: #fff5e1;">
      <div class="card-body">
        <h5 class="card-title text-center">Perfil del Usuario</h5>

        <p class="card-text">Nombre:</p>
        <input type="text" class="form-control mb-3" placeholder="Ingrese su nombre">

        <p class="card-text">Apellidos:</p>
        <input type="text" class="form-control mb-3" placeholder="Ingrese sus apellidos">

        <p class="card-text">Edad:</p>
        <input type="number" class="form-control mb-3" placeholder="Ingrese su edad">

        <p class="card-text">Sexo:</p>
        <select class="form-control mb-3">
          <option value="">Seleccione una opción</option>
          <option>Masculino</option>
          <option>Femenino</option>
          <option>Otro</option>
        </select>

        <p class="card-text">Peso (kg):</p>
        <input type="number" class="form-control mb-3" placeholder="Ingrese su peso">

        <p class="card-text">Altura (cm):</p>
        <input type="number" class="form-control mb-3" placeholder="Ingrese su altura">

        <p class="card-text">Nivel de Actividad Física:</p>
        <select class="form-control mb-3">
          <option value="">Seleccione una opción</option>
          <option>Sedentario</option>
          <option>Ligero</option>
          <option>Moderado</option>
          <option>Activo</option>
          <option>Muy Activo</option>
        </select>

        <p class="card-text">Correo Electrónico:</p>
        <input type="email" class="form-control mb-3" placeholder="Ingrese su email">

        <p class="card-text">Contraseña:</p>
        <input type="password" class="form-control mb-3" placeholder="Cree una contraseña">

        <p class="card-text">Objetivo:</p>
        <select class="form-control mb-3">
          <option value="">Seleccione su objetivo</option>
          <option>Bajar de peso</option>
          <option>Subir masa muscular</option>
          <option>Mantener peso</option>
          <option>Mejorar digestión</option>
          <option>Controlar una condición</option>
        </select>
        <p class="card-text">nivel de cosina:</p>
        <select class="form-control mb-3">
          <option value="">Seleccione una opción</option>
          <option>Principiante</option>
          <option>Intermedio</option>
          <option>Avanzado</option>
          <option> master chef</option>
        </select>

        <p class="card-text">Preferencias Alimenticias:</p>
        <select class="form-control mb-3">
          <option value="">Seleccione una opción</option>
          <option>Omnívoro</option>
          <option>Vegetariano</option>
          <option>Vegano</option>
          <option>Sin gluten</option>
          <option>Keto</option>
        </select>
        <p class="card-text">Alergias Alimentarias:</p>
        <input type="text" class="form-control mb-3" placeholder="Ingrese sus alergias">
        <p class="card-text">foto de Perfil(opcional):</p>
        <input type="file" class="form-control mb-3" />

        <div class="text-center mt-4">
          <button class="btn btn-primary" style="background-color: #000000ff; border: none;">Guardar Perfil</button>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>


    {%endblock%}
</body>
</html>s